// main color :: #ffc200
//bg color :: #333333

//font-family: 'Grand Hotel', cursive;
//font-family: 'Montserrat', sans-serif;

$main-color: #ffc200;
$secondary-color: #303030;
$text-color: #fff;

$special-font: "Grand Hotel", cursive;
$typing-font: "Montserrat", sans-serif;

// margin and padding variable

$md-padding: 10rem;
$md-margin: 10rem;
$lg-padding: 10rem;
$lg-margin: 10rem;

//break point
$small-device: 37.5em;
$medium-device: 56.25em;
$large-device: 75em;
$largest-device: 112.5em;
